services:
  protonmail-bridge:
    image: ghcr.io/enucatl/protonmail-bridge:master
    build:
      context: ./build
      dockerfile: Dockerfile
    restart: unless-stopped
    stdin_open: true 
    tty: true
    ports:
      - "10243:1243"
      - "10125:1125"
    volumes:
      - protonmail:/data
      - /opt/docker/traefik/data/certs/docker_key.pem:/home/protonmail/.config/protonmail/bridge-v3/key.pem:ro
      - /opt/docker/traefik/data/certs/docker_fullchain.pem:/home/protonmail/.config/protonmail/bridge-v3/cert.pem:ro
    labels:
      - "checkmk_monitor=true"

volumes:
  protonmail:
